Source: hdf5-udf
Section: devel
Priority: optional
Maintainer: Lucas C. Villa Real <lucasvr@gobolinux.org>
Build-Depends: debhelper (>=11~), libhdf5-dev, python3-dev, python3-cffi, python3-cffi, libseccomp-dev, luajit, libluajit-5.1-dev, pkg-config, libsodium-dev, meson, ninja-build, libpcre++-dev
Standards-Version: 4.1.4
Homepage: https://github.com/lucasvr/hdf5-udf

Package: hdf5-udf
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: User-Defined Functions for HDF5 provides a mechanism to attach software routines written in Lua, Python, or C/C++ as HDF5 datasets. When such a dataset is read by the application, the associated code executes and produces the datasets contents on-the-fly.
 A supporting library gives access to existing datasets from user code so that data analysis and derivation of other data can be produced.
